/* ===== ESTILO GERAL ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    color: #000000;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #929292;
    border-radius: 100px;
}

.topHeadlines .right .topNews ::-webkit-scrollbar {
    width: 6px;
}

/* ===== NAVBAR ===== */
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 50px;
    color: #ffffff;
    background-color: rgb(39, 39, 39);
}

.logo {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

nav ul {
    display: flex;
}

/* Toggle Menu */
nav div.bar {
    display: none;
    position: absolute;
    right: 80px;
    margin-top: -10px;
    font-size: 25px;
    cursor: pointer;
}

nav div.bar.active .open {
    display: none;
}

nav div.bar .close {
    display: none;
}

nav div.bar.active .close {
    display: initial;
}

nav ul li {
    list-style: none;
    margin: 0 15px;
    padding: 0 10px;
}

nav ul li:hover {
    text-decoration: underline;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1px;
}

/* ===== ÚLTIMAS NOTÍCIAS ===== */
.topHeadlines {
    padding: 100px 50px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.topHeadlines .left {
    padding: 10px 30px;
    /* background-color: #999; */
}

.topHeadlines .left>.title {
    /* > Indica que é filho direto de left */
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.topHeadlines .left .img {
    width: 100%;
    height: 400px;
    background-color: #a04;
}

.topHeadlines .left .img img {
    width: 100%;
    height: 100%;
}

.topHeadlines .left .text {
    padding: 20px 15px 10px;
}

.topHeadlines .left .text .title a {
    text-decoration: none;
}

.topHeadlines .left .text .title a h2 {
    font-size: 20px;
    color: #000000;
    letter-spacing: 1px;
    display: inline;
    cursor: pointer;
}

.topHeadlines .left .text .title a h2:hover {
    text-decoration: underline;
}

.topHeadlines .left .text .description {
    font-size: 15px;
    margin-top: 10px;
    color: #333333;
    letter-spacing: 1px;
}

/* ===== NOTÍCIAS POPULARES ===== */
.topHeadlines .right {
    padding: 10px;
    width: 1005;
    height: 500px;
}

.topHeadlines .right>.title {
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.topHeadlines .right .topNews {
    padding: 7px;
    height: 85%;
    border: 1px solid #000000;
    border-radius: 4px;
    overflow-y: scroll;
}

.topHeadlines .right .topNews .news {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-bottom: 20px;
}

.topHeadlines .right .topNews .news .img {
    width: 170px;
    height: 100%;
    max-height: 120px;
    min-height: 90px;
}

.topHeadlines .right .topNews .news .img img {
    width: 100%;
    height: 100%;
}

.topHeadlines .right .topNews .news .text {
    margin-inline: 10px;
    display: flex;
    align-items: center;
}

.topHeadlines .right .topNews .news .text .title a {
    text-decoration: none;
}

.topHeadlines .right .topNews .news .text .title a p {
    color: #000000;
    display: inline;
}

.topHeadlines .right .topNews .news .text .title a:hover {
    text-decoration: underline;
}


/* ===== PAGINA 2 ===== */
.page2 {
    width: 100%;
    background-color: #dddddd;
    min-height: 100vh;
    padding: 50px;
}

.page2 .news {
    padding: 30px 0;
    border-bottom: 1px solid #b1b1b1;
}

.page2 .news:last-child {
    padding: 30px 0;
    border-bottom: none;
}

.page2 .news>.title h2 {
    font-size: 40px;
    cursor: pointer;
    display: inline;
}

.page2 .news>.title h2:hover {
    text-decoration: underline;
}

.page2 .news .newsBox {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.page2 .news .newsBox .newsCard {
    width: calc(100% / 5 - 20px);
    /* 20px é a margem dada para cada card */
    margin: 10px;
}

.page2 .news .newsBox .newsCard .img {
    width: 100%;
    height: 150px;
    background-color: #a04;
    border-radius: 5px;
}

.page2 .news .newsBox .newsCard .img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.page2 .news .newsBox .newsCard .text {
    padding: 10px;
}

.page2 .news .newsBox .newsCard .text .title {
    text-decoration: none;
}

.page2 .news .newsBox .newsCard .text .title a {
    text-decoration: none;
}

.page2 .news .newsBox .newsCard .text .title a p {
    font-size: 15px;
    color: #000000;
    display: inline;
    cursor: pointer;
}

.page2 .news .newsBox .newsCard .title a p:hover {
    text-decoration: underline;
}

/* ===== RODAPÉ ===== */
.footer {
    width: 100%;
    padding: 50px 50px 20px;
    background-color: #afafaf;
    min-height: 200px;
}

.footer .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.footer .box .websiteName h3 {
    margin-bottom: 15px;
}

.footer .box .categories h3 {
    margin-bottom: 15px;
}

.footer .box .categories div {
    margin-bottom: 15px;
    width: max-content;
}

.footer .box .categories div p {
    cursor: pointer;
    padding: 0 10px;
    transition: 0, 3s;
}

.footer .box .categories div p:hover {
    text-decoration: underline;
}

.footer .contact h3 {
    margin-bottom: 15px;
}

.footer .contact a p {
    margin-bottom: 15px;
    width: max-content;
}

.footer .contact a {
    color: #000000;
    text-decoration: none;
}

.footer .contact a:hover {
    text-decoration: underline;
}

.footer .copyrights {
    margin-top: 15px;
    text-align: center;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width:1024px) {

    .topHeadlines .right .topNews .news .img img {
        width: 170px;
    }

    .topHeadlines .right .topNews .news .text .title a p {
        font-size: 14px;
    }

    .page2 .news .newsBox .newsCard .img {
        height: 120px;
    }

    .pag2 .news .newsBox .newsCard .text {
        padding: 5px;
    }

    .page2 .news .newsBox .newsCard .text .title a p {
        font-size: 14px;
    }
}

@media (max-width:768px) {

    nav div.bar {
        display: block;
    }

    nav ul {
        opacity: 0;
        position: absolute;
        background-color: rgb(39, 39, 39);
        flex-direction: column;
        right: 0px;
        padding: 30px 30px 10px;
        text-align: center;
        pointer-events: none;
        border-radius: 10px;
    }

    nav ul.activeMenu {
        opacity: 1;
        pointer-events: all;
    }

    nav ul li {
        margin: 10px 0;
    }

    .topHeadlines {
        display: block;
    }

    .topHeadlines .right .topNews .news .img img {
        width: 170px;
    }

    .topHeadlines .right .topNews .news .text .title a p {
        font-size: 16px;
    }

    .page2 .news .newsBox .newsCard {
        width: calc(100% / 3 - 20px);
    }

    .footer .box .categories div p {
        font-size: 15px;
    }

    .footer .contact p {
        font-size: 15px;
    }

    .footer .box .websiteName p {
        font-size: 15px;
    }

    .footer .copyrights {
        font-size: 15px;
    }
}

@media (max-width:600px) {
    .logo {
        font-size: 25px;
    }

    .topHeadlines .left {
        padding: 10px 0px;
    }

    .topHeadlines .right .topNews .news .text .title a p {
        font-size: 14px;
    }

    .page2 .news .newsBox .newsCard {
        width: calc(100% / 2 - 20px);
    }
}

@media (max-width:425px) {

    nav div.bar {
        right: 50px;
    }

    nav ul {
        padding: 30px 10px 10px;
    }

    nav ul li {
        margin: 5px 0px;
    }
    
    nav ul li a {
        font-size: 14px;
    }

    .topHeadlines {
        padding: 100px 20px 50px;
    }

    .page2 {
        padding: 50px 20px;
    }

    .page2 .news .newsBox .newsCard {
        width: 100%;
        display: grid;
    }

    .page2 .news>.title h2 {
        font-size: 30px;
    }

    .page2 .news .newsBox .newsCard .img {
        height: 100%;
        min-height: 150px;
    }

    .page2 .news .newsBox .newsCard .text .title a p {
        font-size: 16px;
    }

}